<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>QuFriends</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">QuFriends</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Friends<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Everyone</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<body class="sb-nav-fixed">

<div>
    <div class="card" style="margin: 25px 100px">
        <div class="card-header">
            <h4>Rate these hobbies to better find friends!</h4>
        </div>
        <div class="form-group list-group-item" th:each="hobby : ${hobbies}">
            <span style="display: inline-block; margin: auto 25px">
                <h6 th:utext="${hobby.name}"></h6>
            </span>
            <span style="display: inline-block; margin: auto 25px">
                        <input style="display: inline-block" class="form-check-input" type="radio" th:id="${hobby.id}+'option1'"
                               value="1" th:name="${hobby.id}">
                        <label style="display: inline-block;" class="card-title" th:for="${hobby.id}+'option1'">
                            <h6 class="card-title">Dont like it</h6>
                        </label>
                    </span>
            <span style="display: inline-block; margin: auto 25px">
                    <input style="display: inline-block" class="form-check-input" type="radio" th:id="${hobby.id}+'option2'"
                           value="2" th:name="${hobby.id}">
                    <label style="display: inline-block" class="card-title" th:for="${hobby.id}+'option2'">
                        <h6 class="card-title">Kinda like it</h6>
                    </label>
                    </span>
            <span style="display: inline-block; margin: auto 25px">
                    <input style="display: inline-block" class="form-check-input" type="radio" th:id="${hobby.id}+'option3'"
                           value="3" th:name="${hobby.id}">
                    <label style="display: inline-block" class="card-title" th:for="${hobby.id}+'option3'">
                        <h6 class="card-title">Neutral</h6>
                    </label>
                    </span>
            <span style="display: inline-block; margin: auto 25px">
                    <input style="display: inline-block" class="form-check-input" type="radio" th:id="${hobby.id}+'option4'"
                           value="4" th:name="${hobby.id}">
                    <label style="display: inline-block" class="card-title" th:for="${hobby.id}+'option4'">
                        <h6 class="card-title">Like it</h6>
                    </label>
                    </span>
            <span style="display: inline-block; margin: auto 25px">
                    <input style="display: inline-block" class="form-check-input" type="radio" th:id="${hobby.id}+'option5'"
                           value="5" th:name="${hobby.id}">
                    <label style="display: inline-block" class="card-title" th:for="${hobby.id}+'option5'">
                        <h6 class="card-title">Love it</h6>
                    </label>
                    </span>
        </div>
        <button type="submit" id="sendHobbies" class="btn btn-block btn-secondary tx-tfm">Submit</button>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/postUserHobbies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>


<script>
    $("#sendHobbies").click(function () {
        var hobbyNr = 10;
        var allRated = true;
        for (let i = 1; i <= hobbyNr; i++) {
            if ($("input[name=" + i + "]:checked").val() == undefined) {
                allRated = false;
            }
            // else {
            //     console.log($("input[name="+i+"]:checked").val() + " is not")
            // }
        }

        if (!allRated) {
            alert("Rate every hobby!");
        } else {
            var counterFinished = 0;
            for (let hobbyId = 1; hobbyId <= hobbyNr; hobbyId++) {
                var hobbyRating = $("input[name=" + hobbyId + "]:checked").val();

                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    url: "/userhobby/save/hobby/" + hobbyId + "/rating/" + hobbyRating,
                    data: JSON.stringify({
                        "hobby": null,
                        "user": null,
                        "rating": hobbyRating,

                    }),
                    dataType: 'json',
                    success: function (result) {
                        console.log("posted");
                    },error: function (xhr, status, errorThrown) {
                        if (counterFinished === 9) {
                            window.location.replace("http://localhost:6060/home");
                        }
                        counterFinished++;
                    }
                });
            }

        }


    });





</script>










</body>
</html>





































